{% extends "layout.html" %}

{% block head %}
  <title>Quiz</title>
{% endblock %}

{% block body %}

    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
     <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
       <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
         <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">SCORE : {{ s }}</h2>
          <h3 class="mb-4">LEVEL : {{ l }}</h3>

          <form action="/game" method="post">

              <input type="hidden" id="a" name="a" value="{{ x[1] }}">

                <div class="form-outline mb-4">
                  <label name="question" id="question" class="form-label" for="type">Q{{ q }}: {{ x[0] }}</label>
                  <select name="ans" id="ans" onchange="this.form.submit()" required class="form-control form-control-lg">
                      <option value="" disabled selected>Choose Answer</option>
                      <option value="{{ x[2] }}">{{ x[2] }}</option>
                      <option value="{{ x[3] }}">{{ x[3] }}</option>
                      <option value="{{ x[4] }}">{{ x[4] }}</option>
                      <option value="{{ x[5] }}">{{ x[5] }}</option>
                      <option value="{{ x[6] }}">{{ x[6] }}</option>
                  </select>
                </div>

            </form>

         </div>
        </div>
       </div>
      </div>
     </div>
    </div>

    <script>
      // Get the value of "c" from the backend
      var c = '{{ c }}';  // Replace this with the actual value of "c" from the backend

      // Change the background color of the webpage based on the value of "c"
      if (c == 'green') {
        document.body.style.backgroundColor = '#027020';
      } else if (c == 'red') {
        document.body.style.backgroundColor = '#8B0000';
      }

      // Reset the background color after 1 second
      setTimeout(function() {
        document.body.style.backgroundColor = '';
      }, 200);
    </script>

{% endblock %}